stages:
  - build
  - deploy

build frontend:
  stage: build
  image: node:20.19-alpine
  environment:
    name: $CI_COMMIT_BRANCH
    url: $BASE_URL
  variables:
    VITE_BASE_API_URL: $API_BASE_URL
  script:
    - npm install
    - npm run build
  artifacts:
    paths:
      - .output
  rules:
    - if: $CI_COMMIT_BRANCH && $CI_COMMIT_REF_PROTECTED == 'true'
  tags:
    - docker
    - $CI_JOB_STAGE

build image:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  environment:
    name: prod
    url: $BASE_URL
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  script:
    - |
      docker build \
        --build-arg BASE_URL=${CI_ENVIRONMENT_URL} \
        --build-arg API_BASE_URL=${API_BASE_URL} \
        -t ${CI_REGISTRY_IMAGE}:${CI_COMMIT_TAG} \
        -t ${CI_REGISTRY_IMAGE} --pull .
    - docker login -u gitlab-ci-token -p ${CI_JOB_TOKEN} ${CI_REGISTRY}
    - docker push ${CI_REGISTRY_IMAGE}:${CI_COMMIT_TAG}
    - docker push ${CI_REGISTRY_IMAGE}
  only:
    variables:
      - $CI_COMMIT_TAG =~ /^v\d.*/
  tags:
    - docker
    - $CI_JOB_STAGE

deploy develop:
  stage: deploy
  environment:
    name: dev
    url: $BASE_URL
  script:
    - cp -rf .output /var/www/varvarka/${CI_COMMIT_BRANCH}
    - cd /var/www/varvarka/${CI_COMMIT_BRANCH}
    - git pull ${CI_REPOSITORY_URL} ${CI_COMMIT_BRANCH}
    - |
      # Telegram notification publish
      CI_ESCAPED_AUTHOR=`echo $CI_COMMIT_AUTHOR | sed -e "s/</\&lt;/" -e "s/>/\&gt;/"`
      curl -s -X POST -H "Content-Type: application/json" \
        -d "{\"chat_id\":${TELEGRAM_GROUP},\"parse_mode\":\"HTML\",\"disable_web_page_preview\":true,\"text\":\"Загружено <a href='${CI_ENVIRONMENT_URL}'><b>${CI_PROJECT_NAME} / ${CI_ENVIRONMENT_NAME}</b></a>\nВетка: ${CI_COMMIT_BRANCH}\nАвтор: ${CI_ESCAPED_AUTHOR}\nTitle: ${CI_COMMIT_TITLE}\"}" \
        https://api.telegram.org/bot${TELEGRAM_BOT}/sendMessage > /dev/null
  only:
    refs:
      - develop
  tags:
    - shell
    - grand208
