# Nuxt
.nuxt
.output
.nitro
.cache
dist
.cursor

# Node
node_modules
*.log
yarn-error.log
.eslintcache

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Testing
coverage
.nyc_output

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/
blob-report/
playwright/.cache/
