:root {
  // Base
  --a-white: #fff;
  --a-black: #000;

  --a-mainAccent: #41b883;

  // Typography
  --a-mainText: #1C1C1B;
  --a-headerText: #878c99;
  --a-accentText: #D5C29A;
  --a-accentTextDark: #D6C399;
  --a-accentTextExDark: #B19364;
  --a-lightText: #dcf3ea;
  --a-errorText: #FF0000;

  --code-accent: #e8a55b;
  --code-ident: #a8c334;
  --code-var: #6c9eea;
  --code-cnt: #d697fb;

  // Background
  --a-mainBg: #e5e5e5;
  --a-bgAccent: #D5C29A;
  --a-bgAccentLight: #D6C399;
  --a-bgAccentExLight: #DDCEAE;
  --a-bgAccentDark: #B19364;
  --a-bgLight: #F7F4EE;
  --a-bgDark: #292d3e;
  --a-bgSepia: #DDCEAE;
  --a-bgGray: #C1C7CB;
  --a-bgGreen: #00A54C;
  --a-bgTable: #F7F3EB;
  --a-bgTableLight: #e8e1cf;

  // Border
  --a-borderLght: #e5e5e5;
  --a-borderMain: #b4bacc;
  --a-borderAccent: #B19364;
  --a-borderAccentLight: #DDCEAE;
}
