@use "../variables/_base-font-size.scss" as size;

html,
body {
  font-size: size.$base-font-size;
  //  background-color: var(--a-white) !important;
}

/** {
  margin: 0;
  padding: 0;
}*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.bg-default {
  background-color: transparent !important;
}

.rounded-md {
  border-radius: 16px;
  border: none;
}

.ring {
  border: none !important;
  box-shadow: none !important;
}
