@use "../variables/_base-font-size.scss" as size;
@use "../tools/functions" as *;
@use "../variables/resolutions" as with;

html,
body {
  font-size: size.$base-font-size;
  background-color: var(--a-white) !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.bg-default {
  background-color: transparent !important;
}

.rounded-md {
  border-radius: 16px;
  border: none;
}

.ring {
  border: none !important;
  box-shadow: none !important;
}

// основная кнопка
.btn__bs {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: rem(44);
  padding: rem(12) rem(44);
  font-family: "Inter", sans-serif;
  font-size: rem(18);
  font-weight: 400;
  line-height: 1;
  background-color: var(--a-primaryBg);
  border-radius: var(--a-borderR--btn);
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background-color: var(--a-blackBg);
  }

  &.dark {
    background-color: var(--a-blackBg);

    &:hover {
      background-color: var(--a-btnAccentBg);
    }
  }

  &.ghost {
    color: var(--a-text-primary);
    background-color: var(--a-whiteBg);
    border: rem(1) solid var(--a-border-primary);

    &:hover {
      color: var(--a-text-white);
      background-color: var(--a-primaryBg);
    }
  }
}

// Select dropdown menu
.p-select-list-container {
  align-items: center;
  width: 100%;
  min-height: rem(54);
  padding: rem(12) rem(24);
  font-family: "Inter", sans-serif;
  font-size: rem(16);
  color: var(--a-black);
  background: var(--a-text-white);
  border: rem(1) solid var(--a-border-primary);
  border-radius: var(--a-borderR--input);
}
.p-select-option {
  padding: rem(6) 0 !important;

  &.p-focus {
    color: var(--a-text-accent) !important;
  }
}

// Scrollbar
.p-dropdown-panel,
.p-select-list-container,
.country-select-panel .p-dropdown-items {
  &::-webkit-scrollbar {
    width: rem(3);
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: rem(1.5);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--a-text-light);
    border-radius: rem(1.5);

    &:hover {
      background: var(--a-text-dark);
    }
  }

  scrollbar-width: thin;
  scrollbar-color: var(--a-text-light) transparent;
}

// Shadow section
.section-shadow {
  padding: rem(22) rem(10);
  border-radius: var(--a-borderR--card);
  box-shadow: rem(4) rem(4) rem(30) rem(-10) rgba(0, 0, 0, 0.1);
  background: var(--a-white);

  @media (min-width: #{with.$tablet}) {
    padding: rem(22) rem(14);
  }
  @media (min-width: #{with.$desktopMin}) {
    padding: rem(22) rem(16);
  }
  @media (min-width: #{with.$desktop}) {
    padding: rem(22) rem(22);
  }
}

// PrimeVue Toast
.p-toast-message {
  border: 1px solid var(--p-toast-warn-border-color);
}
.p-toast-message-icon {
  color: transparent;
}
.p-toast-summary {
  color: var(--a-text-dark);
}
