:root {
  --primary: #c2a283;
  --secondary: #bf9d7c;

  // Base
  --a-white: #fff;
  --a-black: #000;
  --a-base: #bf9d7c;

  // Typography
  --a-mainText: #1c1c1b;

  // Background
  --a-whiteBg: #fff;
  --a-blackBg: #000;
  --a-mainBg: #e5e5e5;
  --a-accentBg: #c2a283;
  --a-accentDarkBg: #996d42;
  --a-btnAccentBg: #a02525;

  // Border
  --a-border: #e5e5e5;
}
