:root {
  // PrimeVue

  // Toast
  --p-toast-border-radius: 10px;
  --p-toast-border-width: 1px;
  --p-toast-content-padding: 10px;
  --p-toast-content-gap: 4px;
  --p-toast-text-gap: 6px;
  --p-toast-summary-font-weight: 500;
  --p-toast-summary-font-size: 14px;
}
