// Скругления
:root {
  --a-borderR--x6: 6px; //Радиус скругления для блока
  --a-borderR--x10: 10px; //Радиус скругления для блока
  --a-borderR--card: 22px; //Радиус скругления для блока
  --a-borderR--btn: 10px; //Радиус скругления для кнопок
  --a-borderR--input: 16px; //Радиус скругления для инпута
  --a-borderR--dialog: 40px; //Радиус скругления для форм авторизации
}
