$mobile: 576px;
$tabletMin: 670px;
$tablet: 768px;
$tabletMax: 992px;
$desktopMin: 1024px;
$headerDesktopMin: 1460px; // перестроение сетки хедера: блок кнопок не наезжает на логотип;
$desktopMedium: 1366px;
$desktop: 1642px;
$desktopMax: 1920px;
